<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>注册：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="姓名">
      </mat-input-container>
      <mat-input-container hintLabel="必填项" class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="再次输入密码">
      </mat-input-container>
      <mat-grid-list cols="6">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon class="avatar" [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-button mat-flat-button type="button">注册</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>已有帐户？<a href="#">登录</a></p>
      <p>忘记密码？<a href="#">找回密码</a></p>
    </mat-card-actions>
  </mat-card>
</form>
