<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>注册：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="姓名" formControlName="name">
      </mat-input-container>
      <mat-input-container hintLabel="必填项" class="full-width">
        <input matInput type="text" placeholder="您的email" formControlName="email">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="您的密码" formControlName="password">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="再次输入密码" formControlName="repeat">
      </mat-input-container>
      <app-image-list-select
        [useSvgIcon]="true" [cols]="7" [title]="'选择头像'"
        [items]="items" formControlName="avatar">
      </app-image-list-select>
      <div>
        <app-age-input formControlName="dateOfBirth"></app-age-input>
      </div>
      <button mat-button mat-flat-button type="submit">注册</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>已有帐户？<a href="#">登录</a></p>
      <p>忘记密码？<a href="#">找回密码</a></p>
    </mat-card-actions>
  </mat-card>
</form>
