<div class="container" [@listAnim]="listAnim$ | async">
  <app-project-item *ngFor="let project of (projects$ | async)"
                    [item]="project"
                    (itemSelected)="selectProject(project)"
                    (launchUpdateDialog)="openUpdateDialog(project)"
                    (launchInviteDailog)="openInviteDialog(project)"
                    (launchDeleteDailog)="openDeleteDialog(project)">
  </app-project-item>
</div>
<button class="fab-button" mat-fab type="button" (click)="openNewProjectDialog()">
  <mat-icon>add</mat-icon>
</button>
